Package: com.ryst.shypagedots
Name: Shy Page Dots
Depends: mobilesubstrate
Version: 0.1.1
Architecture: iphoneos-arm
Description: Hide page dots when not scrolling
Maintainer: ryst
Author: ryst
Section: Tweaks
